.paymentDetails {
  display: block;
  width: 100%;
  max-width: 100rem;
  padding: 0 1rem;
  margin: 2rem auto;

  .group {
    margin: 2rem 0;

    h2 {
      font-size: 1.8rem;
      margin-left: 0.25rem;
      display: block;
    }

    div {
      padding: 0.25rem;
    }

    p {
      display: block;
      margin-top: 0.5rem;
      font-size: 1.4rem;
      opacity: 0.8;
    }

    .dropdownContainer {
      width: 100%;

      label {
        font-size: 1.6rem;
      }

      .dropdown {
        width: 100%;
        padding: 0.5rem;
      }
    }

    .details {
      display: block;
    }
  }

  .checkboxContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 0 0.25rem;

    h2 {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }

  .processing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;

    h2 {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
