.signUpContainer {
  height: calc(100vh - 11rem);
  min-height: 40rem;
  width: 100%;
  display: grid;
  place-items: center;

  .signUp {
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 60%;
    min-width: 35rem;

    .body {
      width: 100%;

      ul {
        margin-bottom: 1rem;
        li {
          color: red;
          font-size: 1.6rem;
        }
      }
      .input {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
      }
    }
  }
}
