.newProductContainer {
  .newProduct {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 0.5rem;
      text-align: center;
      display: block;
    }

    form {
      .select,
      .input {
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .newProductContainer {
    padding-top: 1rem;
  }
}

@media (max-width: 768px) {
  .newProductContainer {
    width: 100%;
  }
}
