.signInContainer {
  height: calc(100vh - 11rem);
  min-height: 40rem;
  width: 100%;
  display: grid;
  place-items: center;

  .signIn {
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    width: 60%;
    min-width: 35rem;

    .body {
      width: 100%;

      ul {
        margin-bottom: 2rem;
        margin-top: 1rem;

        li {
          color: red;
          font-size: 1.4rem;
          font-weight: 400;
          list-style: none;
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;

          .MuiSvgIcon-root {
            margin-right: 0.5rem;
          }
        }
      }

      p {
        font-size: 1.4rem;
        text-align: center;
        color: darkred;
        cursor: pointer;
        margin-bottom: 1rem;
      }

      p:hover {
        color: red;
      }

      .input {
        margin-bottom: 0.5rem;
        padding: 0.5rem;
      }

      .submitLogin {
        margin-bottom: 1rem;
      }
    }
  }
}
