.adminProducts {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 13rem);
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 1rem;
  padding-right: 1rem;

  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: whitesmoke;

    img {
      width: 10rem;
      height: 10rem;
      object-fit: cover;
    }

    .info {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 1rem;
      display: block;

      h2 {
        flex: 1;
        font-size: 1.6rem;
        font-weight: 500;
      }

      p {
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    .delete {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .adminProducts {
    max-height: 60rem;
    margin: 0 0 1rem 0;
  }
}
