.profileModal {
  position: absolute;
  top: 5.5rem;
  right: 0;
  background-color: whitesmoke;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 1px solid black;
  z-index: 99;

  .menu {
    display: flex;
    flex-direction: column;

    .profile {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid black;
      align-items: center;
      display: flex;
      cursor: default;

      .MuiSvgIcon-root {
        width: 25px;
        height: 25px;
        margin-right: 0.5rem;
      }
    }

    .adminLink {
      background-color: lightblue;
      width: 100%;
      padding: 0.25rem;
      p {
        display: block;
        margin: 0 auto;
      }
    }

    .row {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      cursor: pointer;

      .MuiSvgIcon-root {
        width: 25px;
        height: 25px;
        margin-right: 0.5rem;
      }
    }
  }

  .row:hover {
    p,
    .MuiSvgIcon-root {
      color: rgb(26, 80, 161);
      transition: ease-in-out 0.2s;
    }
  }
}
