.profileModal {
  position: absolute;
  top: 5.5rem;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 0.5rem;
  border: 1px solid black;
  z-index: 99;

  div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .MuiSvgIcon-root {
      width: 25px;
      height: 25px;
      margin-right: 0.5rem;
    }
  }

  div:hover {
    p,
    .MuiSvgIcon-root {
      color: rgb(26, 80, 161);
      transition: ease-in-out 0.2s;
    }
  }
}
