.logo {
  h1 {
    cursor: pointer;
    span {
      color: rgb(26, 80, 161);
      text-transform: uppercase;
    }
  }

  :hover {
    opacity: 0.8;
  }
}

@media (max-width: 480px) {
  .logo {
    h1 {
      font-size: 2rem;
    }
  }
}
