.navMenu {
  position: absolute;
  width: 20rem;
  z-index: 99;
  background-color: white;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  outline: 1px solid;
  top: 100%;
  cursor: default;

  .menuRow {
    padding: 0 2rem;
    margin: 1rem 0;

    &:first-of-type {
      border-right: 1px solid lightgray;
    }
    h3 {
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid lightgray;
      text-align: center;
      font-weight: 600;

      &:hover {
        transform: scale(1.1);
        color: rgb(26, 80, 161);
        opacity: 0.9;
      }
    }
    ul {
      list-style: none;

      li {
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 300;
        padding-bottom: 0.5rem;

        &:hover {
          color: rgb(26, 80, 161);
          opacity: 0.9;
          transform: scale(1.05);
        }
      }
    }
  }
}
