.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  margin: 0 auto;

  a {
    p {
      display: block;
      font-weight: 550;
      padding: 1rem;
      margin: 0 0.5rem;
      cursor: pointer;
      text-transform: uppercase;
      user-select: none;
      &:hover {
        color: rgb(26, 80, 161);
        transition: ease-in-out 0.2s;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;

    .cartIcon,
    .profileIcon {
      height: 3.5rem;
      width: 3.5rem;
      margin: 0 1rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 480px) {
  .header {
    nav {
      p {
        margin: 0;
        padding: 0 0.5rem;
      }
    }

    .icons {
      .cartIcon,
      .profileIcon {
        height: 2.5rem;
        width: 2.5rem;
        margin: 0 0.5rem;
      }
    }
  }
}
