.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  margin: 0 auto;

  .productsLink {
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    position: relative;
    width: fit-content;

    &:hover {
      color: rgb(26, 80, 161);
      transition: ease-in-out 0.2s;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;

    .icon {
      &:not(:last-child) {
        margin-right: 2rem;
      }

      .cartContainer {
        position: relative;
        padding-right: 1rem;

        p {
          position: absolute;
          top: 10%;
          left: 70%;
          display: inline-block;
          -webkit-tap-highlight-color: transparent;
        }
      }

      .cartIcon,
      .profileIcon,
      .menuIcon {
        font-size: 3rem !important;
        cursor: pointer;
        &:hover {
          color: rgb(26, 80, 161);
          transition: ease-in-out 0.2s;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .productsLink {
      padding: 0.5rem;
      .navLink {
        font-size: 1.6rem;
      }
    }
    .icons {
      .icon {
        &:not(:last-child) {
          margin-right: 1rem;
        }

        .cartContainer {
          p {
            font-size: 1.8rem;
          }
        }

        .cartIcon,
        .profileIcon,
        .menuIcon {
          font-size: 2.4rem !important;
        }
      }
    }
  }
}
