.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  margin: 0 auto;

  .navLink {
    display: block;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
    &:hover {
      color: rgb(26, 80, 161);
      transition: ease-in-out 0.2s;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;

    .cartContainer {
      position: relative;
      margin-right: 2rem;
      padding-right: 1rem;

      p {
        position: absolute;
        top: 10%;
        left: 70%;
        display: inline-block;
        -webkit-tap-highlight-color: transparent;
      }
    }

    .cartIcon,
    .profileIcon {
      height: 3.5rem;
      width: 3.5rem;
      cursor: pointer;
      &:hover {
        color: rgb(26, 80, 161);
        transition: ease-in-out 0.2s;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    .navLink {
      margin: 0;
      padding: 0;
    }
  }

  .icons {
    .cartContainer {
      p {
        top: 0;
      }
    }

    .cartIcon,
    .profileIcon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
