.productDetailsContainer {
  height: 100%;
  width: 100%;

  .productDetails {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imageContainer {
      flex: 0.7;
      border-right: 1px solid whitesmoke;
    }

    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      max-width: 100%;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 2rem;
      flex: 0.3;

      .button {
        max-width: 12.5rem;
      }

      p,
      h1,
      span,
      .button {
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 2.4rem;
      }

      p {
        font-weight: 300;
      }

      span {
        max-height: 50rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .productDetailsContainer {
    .productDetails {
      flex-direction: column;
      justify-content: flex-start;

      .imageContainer {
        border-bottom: 1px solid whitesmoke;
        border-right: none;
        flex: 1;
      }

      img {
        margin-right: 0;
        max-width: 100%;
      }

      .details {
        margin-top: 1rem;
        padding: 1rem;
        flex: 1;
      }
    }
  }
}
