html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 130rem;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
