.admin {
  min-height: calc(100vh - 12rem);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  .adminHeader {
    margin-bottom: 1rem;
    max-width: 15rem;
  }
}

@media (max-width: 768px) {
  .admin {
    flex-direction: column;
    height: auto;
  }
}
